body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.recharts-wrapper {
  left: -60px;
}

#txtIntructions {
  height: 200px;
}

@media screen and (min-width: 40em) {
  #txtIntructions {
    height: 320px;
  }
}

.recharts-layer path[fill='red'] {
  stroke-width: 5;
  stroke: red;
}

.recharts-layer path[fill='gray'] {
  stroke-width: 5;
  stroke: gray;
}

.MarsListItem__lost {
  text-decoration: line-through;
}
